# VS Code
.vscode/extensions/
.vscode/argv.json

# Browser data
AppData/
.android/
Cookies/
Recent/
SendTo/
"Menu Iniciar/"
"Meus Documentos/"
"Dados de Aplicativos/"
"Configurações Locais/"
"Ambiente de Impressão/"
"Ambiente de Rede/"
Modelos/
ntuser.dat*
NTUSER.DAT*

# User folders
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
"Saved Games/"
Searches/
Videos/

# System files
.bash_history
.git-for-windows-updater
.gitconfig
.lesshst
.ssh/
